.admin-display{
    max-width:950px;
    margin: 40px auto;
}
.tab-container{
    background-color: white;
    padding:20px;
    border-radius:0 0 10px 10px;
    border:none;
    box-shadow:$shadow;

}
#add-form label{
    margin-top:10px;
}
.add-input{
    width:100%;
}
.add-price{
    width:10%;
}
.description{
    resize:vertical;
}

.tab-view-item{
    img{
    max-width: 50%;
    }
    .descript-img-container{
        display:grid;
        grid-template-columns: 2fr 1fr;
        }
}
#tab-view-container{
    h3{
        font-family: 'Noto Sans', sans-serif;
        text-align:start;
    }
}


.hide-tabcontent{
    display:none;
}


