.cart-container{
    background-color: white;
    padding:30px;
    border-radius:$border-radius;
    margin-bottom:50px;

    }

    .cart-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;

            img{
            max-height:250px;
            object-fit: contain;
            object-position: center;
            }

    }

    .remove-item{
        display:flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width:751px){
            font-size:1.2em;
        }


    }
    .cart-info{
        padding-left:10px;
        padding-top:10px;
    }
    .total-container{
        display: flex;
        justify-content:space-between;
        border-top:1px solid black;
        margin-top:20px;
        padding:30px 10px 30px 10px;
    }
