@import "./mixin";

.cta-container{
    display: flex;
    justify-content: center;
}
.column-cta{
    flex-direction: column;
    align-items: center;
}
.edit-cta-container{
    display:flex;
    justify-content: right;
    margin-right:30px;
}
.cta-home,
.cta-cart,
.add-to-cart{
    @include cta(60%,5px, 30px);
    color:white;
    background: linear-gradient($primary, $primary-hover);
    border:none;

    @media screen and (min-width:751px){
        @include cta(30%, 5px, 30px);
    }
}
.cta-home{
    @include cta(40%,5px, 30px);
}
.add-to-cart{
    @media screen and (min-width:751px){
        @include cta(60%, 5px, 30px);
    }
}
.cta-cart{
    @include cta(100%,5px, 30px);
    
     @media screen and (min-width:751px){
        @include cta(50%, 5px, 30px);
    }
}
.remove-from-cart{
    @include cta(60%, 5px, 30px);
    color:$primary;
    border: 1px solid $primary;
    background-color:white;
}

.remove-from-cart:hover{
    background-color:rgb(226, 225, 225);
}

.cta-home:hover,
.cta-cart:hover,
.add-to-cart:hover{
    background:$primary-hover;
    color:white;
    text-decoration: none;
}

.checkout,
.save-cta{
    background:linear-gradient($color-add, $color-add-hover);
    border:none;
    color:white;
    text-shadow:$text-shadow;
    @include cta(100%, 5px, 30px);
}

.checkout:hover,
.save-cta:hover{
    background:$color-add-hover;
}


.checkout{
    @media screen and (min-width:751px){
        @include cta(50%, 5px, 0 auto);
    }
}
#add-save{
    margin-top:20px;
}
.cart-remove-btn{
    @include cta(70%, 2px, 0);
    background:linear-gradient($color-remove, $color-remove-hover);
    color:white;
    border:none;
    font-size:.8em;

}
.cart-remove-btn:hover,
.delete-cta:hover{
    background:$color-remove-hover;
}
.delete-cta{
    @include cta(100%, 5px ,0 auto);
    border:none;
    background-color: $color-remove;
    color:white;
    text-shadow:$text-shadow;
}

.delete-container{
    @include cta(100%, 5px, 20px);
}

.fa-angle-left{
    font-size: 2em;
    margin:10px;
}
.login{
    @include cta(100%, 5px, 10px);
    background-color: $primary;
    color:white;
    border: 1px solid $primary;
    margin-top:50px;
}
.login:hover{
    background-color: #642a75;
}
.logout-cta{
    border:none;
    background-color:white;
    padding:0;

}
.add-image-container{
    margin-bottom:20px;
}
.edit-cta{
    border:none;
    background-color:white;
    text-decoration: underline;
    font-size:1.2em;
}

.tab-btn{
    background-color: rgb(218, 218, 218);
    border:none;
    border-radius: 10px 10px 0 0;
    padding:10px;

  
}  
.active-tab{
    background-color: white;
}
