
//Colors
$primary: #743089;
$primary-hover: #5c1570;


$body-color: black;
$link-color:black;
$link-hover-color: $primary;

$color-footer:#28262F;
$color-add:#8fce19;
$color-add-hover:#75aa13;
$color-add-border:#15A42F;
$color-remove:#D31D1D;
$color-remove-hover:#b61717;;
$input-bg:white;


//other
$shadow:4px 4px 4px #cacaca;
$border-radius:10px;
$text-shadow:1px 1px black;