
//Colors
$primary: #743089;

$body-bg: #F2F2F2;
$body-color: black;
$link-color:black;
$link-hover-color: $primary;

$color-footer:#28262F;
$color-add:#9AE11A;
$color-add-hover:#8ac718;
$color-add-border:#15A42F;
$input-bg:white;

//other
$shadow:4px 4px 4px #cacaca;
$border-radius:10px;