@import "./mixin";

.featured-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.col{
    padding:10px;
}
.ftd-container {
    h1{
        color:$primary;
        margin: 20px 0;
    }
    h2{
    font-size:1.2em;
    text-align: center;
    }
}
.ftd-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;

    @media screen and (max-width: 750px){

        grid-template-columns: 1fr 1fr;

    }
    a{
        text-decoration: none;
        color:black;
    }
    a:hover{
        opacity:80%;
    }
}

.home-banner-container img{
    max-height:500px;
    object-fit: cover;
}
.logo-divider{
    display:flex;
    justify-content: center;
    img{
    height:50px;
    max-width:60px;
}
}
.news-container {
    max-width:750px;
    margin:0 auto;

    img{
    @include img;
    }
    h3{
        text-align: center;
        color:$primary;
        font-size:2em;
        font-family:'Aboreto', cursive;
    }
}


