body{
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(#ffffff 1px, transparent 1px), radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-color: #F2F2F2;
}
html {
    height: 100%;
}

.wrapper {
    flex: 1 0 auto;
}
header{
    background-color: white;
}
h1{
    font-family:'Aboreto', cursive;
    text-align:center;
    margin-top: 10px;
}

img{
    width:100%;
}
.card{
    box-shadow: $shadow;
    height:390px;
    z-index:-1;

    img{
        height: 276px;
        object-fit: cover;
        object-position: center;
    }
}
.message{
   margin-bottom:5px;
   padding-left:5px;
}
.error{
    color:rgb(209, 0, 0);
    border-left: solid 3px red;

}
.warning{
    color:orange;
    border-left: solid 3px orange;
    
}
.success{
    color:green;
    border-left: solid 3px green;
}

.form-error{
    border: 1px solid red;
}

.loader{
    margin:10px auto;
    width:50px;
    height:50px;
    border-radius: 50%;
    border-top:3px solid $primary;
    border-right:transparent 3px solid;
    animation: rotation 1s linear infinite;
}

@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }   
    100%{
        transform: rotate(360deg);
    }
}
footer{
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: $color-footer;
    color:#C6C4C3;
    padding:10px;

    p{
        max-width:70%;
    }
    .fa {
        color:white;
        font-size:1.5em;
        padding-right:10px;
    }
    a{
        text-decoration: none;
    }
}
