body{
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
html {
    height: 100%;
}

.wrapper { //under header, close over footer
    flex: 1 0 auto;
}
header{
    background-color: white;
}
h1, h2{
    font-family:'Aboreto', cursive;
    text-align:center;
    margin-top: 10px;
}

img{
    width:100%;
}
.card{
    box-shadow: $shadow;
    max-height:390px;
    z-index:-1;
}
.message{
   margin-bottom:5px;
   padding-left:5px;
}
.error{
    color:rgb(209, 0, 0);
    border-left: solid 3px red;

}
.warning{
    color:orange;
    border-left: solid 3px orange;
    
}
.success{
    color:green;
    border-left: solid 3px green;
}

.form-error{
    border: 1px solid red;
}


footer{
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: $color-footer;
    color:#C6C4C3;
    padding:10px;

    p{
        max-width:70%;
    }
    .fa {
        color:white;
        font-size:1.5em;
        padding-right:10px;
    }
    a{
        text-decoration: none;
    }
}
