body{
    font-family: 'Noto Sans', sans-serif;
}

header{
    background-color: white;
}
h1, h2{
    font-family:'Aboreto', cursive;
    text-align:center;
}

img{
    width:100%;
}
footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: $color-footer;
    color:#C6C4C3;
    padding:10px;

    p{
        max-width:70%;
    }
    .fa {
        color:white;
        font-size:1.5em;
        padding-right:10px;
    }
    a{
        text-decoration: none;
    }
}