.login-container{
    background-color: white;
    padding:20px;
    margin:50px auto;
    display:flex;
    flex-direction: column;
    box-shadow: $shadow;
    max-width:650px;

    .login-input{
        margin:20px 0 10px 0;
        border:none;
        border-bottom:1px solid rgba(0, 0, 0, 0.568);
    }

}