@mixin nav-a{
    color:black;
    text-decoration: none;
}

@mixin cta($width, $padding,$margin){
    width:$width;
    text-align:center;
    padding:$padding;
    border-radius:5px;
    font-weight:bold;
    margin-bottom:$margin;
    filter:drop-shadow(4px 4px 4px #cacaca);
    text-decoration: none;
}

@mixin img{
    filter:drop-shadow(4px 4px 4px #cacaca);
    width:100%;
    padding:20px;
}

@mixin center($width){
    max-width:$width;
    margin: 10px auto;
}