@import "./mixin";

.smallscreen-nav-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    justify-items: right;
    align-items: center;

    @media screen and (min-width:751px){
        display:none;
    
    }

    .small-logo{
        margin-left:2.5em;
        width:80%;
        height:70px;
        margin:10px;
    }
}

.shopping-icon{
    width:30px;
    height:30px;
    margin-right:2em;
}

.hamburger-button{
    position:absolute;
    top:-3px;
    left:7px;
    width:50px;
    height:30px;
    display:block;
    border:none;
    margin:30px;
    background: linear-gradient(
        to bottom, 
        black, black 6%, 
        white 14%, white 49%, 
        black 30%, black 60%, 
        white 56%, white 90%, 
        black 80%, black 100%
      );

      @media screen and (min-width:751px){
            display: none;
        
    }
}

#sidebar-nav {
    visibility: hidden;
    position:fixed;
    top:0;
    left:-150px;
    height:100%;
    width:70%;
    transition: 0.3s;
    background-color:white;
    z-index:2;

        ul{
            padding:40px;
        }
        li{
            list-style: none;
            padding-top:10px;
        }
        a{
            @include nav-a; 
        }
}


ul p{
    margin-left:100%;
    font-size:2em;
}

#hamburger-check:checked + .hamburger-button #sidebar-nav{
    visibility:visible;
    left:0;
    z-index:1;
}

#hamburger-check:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}
.overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition:visibility .35, height .35;
    overflow: hidden;
    background:black;
    z-index: 0;
}
#hamburger-check{
    display: none;
}


#main-nav{
    display: flex;
    justify-content: center;

        h1{
            margin-top:20px;
        }

    li{
        padding-left:20px;
        margin-top:30px;
        list-style: none;
        display:inline-block;
    }

    a{
        text-decoration: none;
        color:$primary;
        font-size:1.1em;
    }

    @media screen and (max-width: 750px){
            display:none;

    }
}

#main-logo{
    max-width:100%;
    height:42px;
    margin-top:21px;
}
@media screen and (max-width: 750px){
    .breakpoint-columns{
        display: none;
    }
} 