.featured-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.card-img {
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.col {
  padding: 10px;
}

.ftd-container h2 {
  text-align: center;
  color: #743089;
  margin-top: 2em;
  margin-bottom: 1em;
}

.ftd-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  -webkit-filter: drop-shadow(4px 4px 4px #cacaca);
          filter: drop-shadow(4px 4px 4px #cacaca);
}

.news-container img {
  -webkit-filter: drop-shadow(4px 4px 4px #cacaca);
          filter: drop-shadow(4px 4px 4px #cacaca);
  width: 100%;
  padding: 20px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #F2F2F2;
}

header {
  background-color: white;
}

h1 {
  font-family: 'Aboreto', cursive;
}

.small-logo {
  font-size: 4em;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  background-color: #28262F;
  color: #C6C4C3;
  padding: 10px;
}

.smallscreen-nav-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-icon {
  width: 30px;
  height: 30px;
  margin-right: 2em;
}

.small-logo {
  margin-left: 2.5em;
}

.hamburger-button {
  position: absolute;
  top: -3px;
  left: 7px;
  width: 50px;
  height: 30px;
  display: block;
  border: none;
  margin: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(6%, black), color-stop(14%, white), color-stop(49%, white), color-stop(30%, black), color-stop(60%, black), color-stop(56%, white), color-stop(90%, white), color-stop(80%, black), to(black));
  background: linear-gradient(to bottom, black, black 6%, white 14%, white 49%, black 30%, black 60%, white 56%, white 90%, black 80%, black 100%);
}

#sidebar-nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -150px;
  height: 100%;
  width: 70%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  z-index: 2;
}

#sidebar-nav ul {
  padding: 40px;
}

#sidebar-nav li {
  list-style: none;
  padding-top: 10px;
}

#sidebar-nav a {
  color: black;
  text-decoration: none;
}

#sidebar-nav a:hover {
  color: #743089;
}

.active {
  color: #743089 !important;
}

ul p {
  margin-left: 100%;
  font-size: 2em;
}

#hamburger-check:checked + .hamburger-button #sidebar-nav {
  visibility: visible;
  left: 0;
  z-index: 1;
}

#hamburger-check:checked ~ .overlay {
  visibility: visible;
  opacity: 0.4;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility .35, height .35;
  transition: visibility .35, height .35;
  overflow: hidden;
  background: black;
  z-index: 0;
}

#hamburger-check {
  display: none;
}

@media screen and (min-width: 751px) {
  #main-nav {
    display: inline-block;
  }
  .hamburger-button {
    display: none;
  }
  .smallscreen-nav-container {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #main-nav {
    display: none;
  }
  .hamburger-button {
    display: inline;
  }
  .breakpoint-columns {
    display: none;
  }
  .ftd-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta-home {
  width: 80%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 30px;
  -webkit-filter: drop-shadow(4px 4px 4px #cacaca);
          filter: drop-shadow(4px 4px 4px #cacaca);
  text-decoration: none;
  color: #743089;
  background-color: white;
}

.cta-home:hover {
  background-color: #f1f1f1;
  color: #743089;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */